		<table class="table table-condensed table-striped">
		<b> Assigned Customers</b><hr>
			<tr> 
				<th>Customer Name</th>
				<th>Reference ID </th>
				<th>Request ID</th>
				<th>Status</th>
				<th>CreatedBy</th>
			</tr>
			<% @customer_verifications.each do |customer| %>
			<tr>
				<th><%= link_to customer.name, edit_customer_path(customer) %></th>
				<td><%= customer.reference_id %></td>
				<td><%= customer.request_id %></td>
				<% if customer.pending? %>
				<td><h6 class="label label-danger">
				<% elsif customer.completed? %>
				<td><h6 class="label label-success">
				<% end %>
				<%= customer.status.humanize %>
				</h6></td>
				<td><%= customer.user.tab.name.humanize if customer.user.tab.present? %>
				<%= "admin" if customer.user.admin? %></td>
			</tr>
		<% end %>
		</table>