<table class="table table-condensed table-striped table-bordered">
<% if current_user && current_user.admin? %>
		<tr>
			<td>Total Entries</td>
			<td width="30%" class="text-center"><%= Customer.count %></td>
		</tr>
		<tr>
			<td>Total Pending Entries</td>
			<td width="30%" class="text-center">
				<%= Customer.where('customers.status =?', 'pending').count %>
			</td>
		</tr>
		<tr>
			<td>Total Completed Entries</td>
			<td width="30%" class="text-center"><%= Customer.where('customers.status =?', 'completed').count %></td>
		</tr>

		<% elsif current_user.tab? %>
		
		<tr>
			<td>Total Entries</td>
			<td width="30%" class="text-center"><%= current_user.customers.count if current_user.tab.present? %></td>
		</tr>
		<tr>
			<td>Total Pending Entries</td>
			<td width="30%" class="text-center">
				<%= current_user.customers.where('customers.status =?', 'pending').count if current_user.tab.present? %>
			</td>
		</tr>
		<tr>
			<td>Total Completed Entries</td>
			<td width="30%" class="text-center"><%= current_user.customers.where('customers.status =?', 'completed').count if current_user.tab.present? %></td>
		</tr>
	<% end %>
		</table>
