
<p>
  <strong>Father name:</strong>
  <%= @customer.address_verification.father_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @customer.address_verification.dob %>
</p>

<p>
  <strong>Location:</strong>
  <%= @customer.address_verification.location %>
</p>

<p>
  <strong>Address one:</strong>
  <%= @customer.address_verification.address_one %>
</p>

<p>
  <strong>Address two:</strong>
  <%= @customer.address_verification.address_two %>
</p>

<p>
  <strong>Address third:</strong>
  <%= @customer.address_verification.address_third %>
</p>
