<%= nested_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-10">
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control", :placeholder => "Enter Customer's Full Name" %>
    </div>

    <div class="form-group">
      <%= f.label :FHCode %><br>
      <%= f.text_field :reference_id, :class => "form-control", :value => @reference_id %>
    </div>

    <div class="form-group">
    <%= f.label :father_name %><br>
    <%= f.text_field :father_name, :class=>"form-control" %>
    </div>
    
    <div class="form-group">
    <%= f.label :dob %><br>
    <%#= f.date_select :dob, :class=> "form-group" %>
    <%= f.date_select :dob, start_year: 1901, selected: Date.today-11000.days, :class=> "form-group" %>
    </div>
    
    <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, :class=>"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_area :address, :class=>"form-control" %>
    </div>


<style type="text/css">
  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
<div class="form-group">
  <legend>Customer Documents</legend>
  <%= f.fields_for :customer_documents do |document| %>
  <div class="col-md-8">
    <%= document.text_field :doc_name, :class=> "form-control", :placeholder => "enter Document Name" %><br>
    <div class="col-md-4">
     <span class="btn btn-file btn-success">
      Upload<%= document.file_field :document, :onchange=>'$("#upload-file-info").html($(this).val());' %>&nbsp;
      <p class='label label-info' id="upload-file-info"></p>
     </span>
    </div>
    <div class="col-md-4 pull-right"><%= document.link_to_remove "Remove this Doc", :class => "btn btn-danger" %></div>

    <br><hr></div>
  <% end %>
  <%= f.link_to_add "Add a document", :customer_documents, :class => "btn btn-success" %>
</div>
<br><br><br><br><br><br><br><br><br>
  <div class="form-group col-md-6">
    <div class="actions">
      <%= f.submit "Save Customer", :class=> "btn btn-info" %>
    </div>
  </div>
<% end %>
