<div class="col-md-12">
  <div class="col-md-8">
    <b style="color:#234cbd">
      <%= @customer.name %> 
    </b>
  </div>

  <div class="col-md-4">
      <span class="pull-right">
        <%= link_to 'Edit', edit_customer_path(@customer) %> |
        <%= link_to 'Back', customers_path %>
      </span>
  </div>
</div><hr>
<!-- <b class="label label-info"><%= @customer.status %></b><br><br> -->
<div class="col-md-12">
  <% if @customer.pending? %>
    <div class="panel panel-warning">
  <% elsif @customer.completed? %>
    <div class="panel panel-success">
  <% end %>
  <div class="panel-heading">Customer Detail
  <small class="pull-right">Submitted By <%= link_to @customer.user.email %></small>
  </div>
  <div class="panel-body">

 <table class="table">
 <thead>
   <tr>
     <th>Reference Id</th>
     <th>Request ID</th>
     <th>Father Name</th>
     <th>Date Of Birth</th>
     <th>Location</th>
     <th>Status</th>
   </tr>
 </thead>
   <tbody>
       <tr>
       <td><%= @customer.reference_id %></td>
       <td><%= @customer.request_id %></td>
       <td><%= @customer.father_name %></td>
       <td><%= @customer.dob %></td>
       <td><%= @customer.location %></td>
       <td><%= @customer.status.humanize %></td>
     </tr>
   </tbody>
 </table>
</div>
<ul class="list-group">
  <% @customer.customer_documents.each do |cd| %>
    <li class="list-group-item"><h3><%= cd.doc_name %></h3>
    <% if cd.document_content_type=="image/jpeg" %>
      <%= image_tag cd.document.url, class: "img-responsive" %>
      <% elsif cd.document_content_type="application/pdf" %>
      <iframe src="<%= cd.document.url %> & embedded=true" width="100%" height="800"></iframe>
    </li>
    <% end %>
  <% end %>
</ul>
</div>
</div>
</div>

