
<h2>Tabs List:</h2><hr>
<table class="table table-condensed table-striped">
<thead>
<tr>
	<th>Tab Name </th>
	<th>Assiged To </th>
	<th>Total cases Assigned </th>
	<th>Pending </th>
	<th>Completed </th>
	<!-- <th>In Progress </th> -->

</tr>
</thead>
<tbody>
<% @tabs.each do |tab| %>
 <tr>
	<td><b><%= tab.name %></b></td>
	<td><%= tab.user ? tab.user.email : (link_to "assign a user to this tab", tab) %></td>
	<td class="text-warning"><%= tab.user.customers.count if tab.user %></td>
	<td class="text-danger"><%= tab.user.customers.where('customers.status =?', 'pending').count if tab.user %></td>
	<td class="text-success"><%= tab.user.customers.where('customers.status =?', 'completed').count if tab.user %></td>
	<!-- <td class="text-primary"><%#= tab.customers.where('customers.status =?', 'in_progress').count if tab.user %></td> -->
 </tr>
<% end %>
</tbody>
</table>